@using Microsoft.AspNetCore.Razor.Language.Intermediate
@model FluentValidationExample.Models.UserModelFV

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>User Model with Fluent Validation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="UserModelFluentValidation" asp-action="Index" method="POST">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AddressLines" class="control-label"></label>
                <div class="form-group">
                    @for (int i = 0; i < Model.AddressLines.Count; i++)
                    {
                        <label class="control-label">Address Line @i</label>
                        <input asp-for="AddressLines[i]" class="form-control" style="margin-bottom: 5px;" />
                        <span asp-validation-for="AddressLines[i]" class="text-danger"></span>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
